* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background-color: #f7f7f7;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    margin: 0;
    padding: 0;
}

/* =======================NAVIGATION================= */

nav {
    z-index: 1000;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    margin-top: 5px;
    width: 100%;
    margin-right: 55px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 60px;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0px 15px;
    display: flex;
    align-items: center;
}

nav a.active {
    background-color: black;
    color: white;
    border-radius: 20px;
}

nav li>a:hover {
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgb(45, 45, 45);
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#GKontejner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    height: 100px;
    width: 100%;
    background-color: #f7f7f7;
    z-index: 1;
    top: 0;
    left: 0;

}

#DKontejner {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-left: 0;
}

#h1Kontejner {
    margin-left: 15px;
}


#hd-h1 {
    font-size: 25px;
    font-weight: bolder;
    color: black;
    white-space: nowrap;
}


/* =======================MAIN================= */

.glavni-sadrzaj {
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    border-radius: 22px;
    max-width: 1300px;
    margin: 50px auto 0 auto;
    padding: 40px;
}

.paragraf-sadrzaj {
    margin-top: 25px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 30px;
    text-align: justify;
}

.highlight {
    font-weight: bold;
    color: #007acc;
    background-color: #eef6fb;
    padding: 2px 5px;
    border-radius: 5px;
}

footer small {
    font-size: 0.9em;
    color: #555;
}

.paragraf-kontejner {

    margin-bottom: 110px;
}

/* ===================================================CAROUSEL======================================================= */

.klizac-kontejner {
    z-index: 2;
    margin: 10px;
    margin-bottom: 110px;
    padding: 30px
}

#klizac {
    margin: 0 auto;
    width: 900px;
    max-width: 100%;
    text-align: center;
}

#klizac input[type=radio] {
    display: none;
}

#klizac label {
    cursor: pointer;
    text-decoration: none;
}

#slajdovi {
    padding: 20px;
    border: 3px solid #ccc;
    background: #fff;
    position: relative;
    z-index: 1;
}

#prijelaz {
    width: 100%;
    overflow: hidden;
}

#slajd1:checked~#slajdovi .unutra {
    margin-left: 0;
}

#slajd2:checked~#slajdovi .unutra {
    margin-left: -100%;
}

#slajd3:checked~#slajdovi .unutra {
    margin-left: -200%;
}

#slajd4:checked~#slajdovi .unutra {
    margin-left: -300%;
}

#slajdovi .unutra {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 400px;
}

#slajdovi .slide {
    width: 25%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
}

#controls {
    margin: -235px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
}

#controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
}

#controls label:hover {
    opacity: 1;
}

#slajd1:checked~#controls label:nth-child(2),
#slajd2:checked~#controls label:nth-child(3),
#slajd3:checked~#controls label:nth-child(4),
#slajd4:checked~#controls label:nth-child(1) {
    background: url('../resursi/slike/ArrowNext.png') no-repeat;
    background-size: 50px 50px;
    float: right;
    margin: 0 -50px 0 0;
    display: block;
}

#slajd1:checked~#controls label:nth-last-child(1),
#slajd2:checked~#controls label:nth-last-child(4),
#slajd3:checked~#controls label:nth-last-child(3),
#slajd4:checked~#controls label:nth-last-child(2) {
    background: url('../resursi/slike/ArrowPrev.png') no-repeat;
    background-size: 50px 50px;
    float: left;
    margin: 0 0 0 -50px;
    display: block;
}

#bullets {
    margin: 150px 0 0;
    text-align: center;
}

#bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #ccc;
    margin: 0 10px -50px;
}

#slajd1:checked~#bullets label:nth-child(1),
#slajd2:checked~#bullets label:nth-child(2),
#slajd3:checked~#bullets label:nth-child(3),
#slajd4:checked~#bullets label:nth-child(4) {
    background: #444;
}


.slide-content {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide-img {
    margin-bottom: 10px;
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.slide-btn {
    text-decoration: none;
    background-color: black;
    border: 2px solid #444;
    border-radius: 40px;
    color: white;
    font-size: 20px;
    top: 30px;
    padding: 5px 10px;
}

.slide-btn:hover {
    cursor: pointer;
    background-color: #e5e5e5;
    color: black;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.h1-slide {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    font-size: 25px;
    position: relative;
    margin-top: 5px;
    padding: 5px 5px;
}



/* ===================================================CPP======================================================= */

.pitanja-kontejner {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 22px;
    margin: 15px;
    padding: 2px 15px;
    display: flex;
    flex-direction: column;
}

.pitanja-kontejner>h2 {
    text-align: center;
    margin-bottom: 5px;
    font-size: 1.7em;
    font-weight: bold;

}

.detalji-kontejner>h2 {
    text-align: center;
    margin-bottom: 5px;
    font-size: 1.7em;
    font-weight: bold;

}

.fq-tablica {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace, sans-serif;
}

.fq-tablica th,
.fq-tablica td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.fq-tablica tbody tr:nth-child(even) {
    background-color: #e0f0ff;

}

.fq-tablica thead {
    background-color: #f5f5f5;
}

tr:nth-child(even) {
    background-color: #50d6ff;
}

.tablica-kontejner {
    margin: 20px 0 50px 0;
    padding: 20px;
    background-color: white;
    border-radius: 22px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* ===================================================CPP-IZBORNIK======================================================= */

.detalji-kontejner {
    width: 96%;
    border-collapse: collapse;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 22px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fq-detalji {
    margin-left: -4px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.fq-detalji summary {
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    background-color: #eaeaea;
}

.fq-detalji p {
    padding: 10px 15px;
    background-color: white;
}

/*-=====================================FOOTER================================================= */

.footer-kontejner {
    margin-top: 50px;
    background-color: gray;
    padding: 30px 20px;
    border-top: 1px solid #ccc;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.footer-kontejner div {
    color: white;
    font-weight: 700;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 60px;
}


/* ========================================END - POCETNA================================================= */
/* ========================================END - POCETNA================================================= */

/* ========================================START - O AUTORU================================================= */
/* ========================================START - O AUTORU================================================= */

.at-bg {

    background-color: #f0f0f0;
    border-left: 1px solid #828282;
    border-right: 1px solid #828282;
    border-bottom: 1px solid #828282;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    margin: 0 110px auto 110px;
    padding-bottom: 50px;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.at-h2-sadrzaj {
    font-size: 32px;
    margin-top: 50px;
    font-weight: bold;
}

.at-img1 {
    margin-top: 25px;
    height: 250px;
    width: 250px;
}

.at-p1 {
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
}

.email-link {
    color: #34383c;
    font-size: 18px;
    text-decoration: none;
}

.email-link:hover {
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #ffffff;
    color: #00d8ef;
}

.rimska-lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: upper-roman;
    margin-left: 4.5rem;
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
    color: #007acc;
}

.at-g-bg {
    background-color: #d3d3d3;
    margin-top: 70px;
}


.resetka-galerije {
    column-count: 1;
    column-gap: 0;
    padding: 0 15px;
}

.predmet-galerije {
    break-inside: avoid;
    margin-bottom: 20px;
}

.predmet-galerije img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.predmet-galerije img:hover {
    transform: scale(1.05);
}

/* ========================================END - O AUTORU================================================= */
/* ========================================END - O AUTORU================================================= */
/* ========================================START - DOKUMENTACIJA================================================= */
/* ========================================START - DOKUMENTACIJA================================================= */

.dok-bg {

    margin-top: 25px;
}

#dok-naslov {
    font-weight: bolder;
    font-size: 23px;
}

/* =============================TABLICA=========================== */

.ft-tekst {

    font-weight: bold;
}

.stupac-status {

    vertical-align: middle;
}

.link-bezdek {

    color: blue;
    text-decoration: none;
}

.table-responsive {
    overflow-x: auto;
    margin: 0 auto;
    width: 100%;
}

.table {
    width: 100%;
}

.table td,
.table th {
    white-space: nowrap;
}

.table td:hover {
    background-color: rgb(246, 245, 245);
}

.link-bezdek:hover {

    color: #00d8ef;
    text-decoration: none;
}

/* ========================================END - DOKUMENTACIJA================================================= */
/* ========================================END - DOKUMENTACIJA================================================= */
/* ========================================START - RECENZIJE================================================= */
/* ========================================START - RECENZIJE================================================= */


.obrazac1-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #ffffff, #f4f4f4, #ebebeb);
    border: 1px solid #828282;
    border-radius: 22px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 50%;
    margin: 50px auto;
}

.forma-naslov h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.forma-sadrzaj p#forma-pg1 {
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 35px;
    font-size: 16px;
    color: #333;
}

.forma {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kor-detalji {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.forma-grupa {
    flex-basis: calc(50% - 20px);
    width: 100%;
    margin-bottom: 20px;
}

.forma-grupa label.det {
    text-wrap: nowrap;
    display: inline-flex;
    flex-direction: row-reverse;
    font-weight: 700;
    margin-bottom: 5px;
    gap: 30px;
}

body>main section div.forma-sadrzaj>form>div.kor-detalji>div:nth-child(32)+div~div:nth-child(33)>label>input[type=checkbox] {
    height: 25px;
}

.forma-grupa input,
.forma-grupa select,
.forma-grupa textarea {
    height: 45px;
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border 0.3s ease;
}

.forma-grupa textarea {
    height: auto;
    resize: vertical;
}

.forma-grupa input:focus,
.forma-grupa select:focus,
.forma-grupa textarea:focus {
    border-color: #9b59b6;
    outline: none;
}

.spol-detalji {
    display: flex;
    margin: 20px 0 50px;
}

.spol-naslov {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 75px;
}

.kat {
    display: flex;
    gap: 60px;
    font-size: 18px;
}

.kat label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.kat .tocka {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #e8e8e8;
    margin-right: 8px;
    border: 5px solid transparent;
}

#tocka-1:checked~.kat label .jedan,
#tocka-2:checked~.kat label .dva {
    background: #9b59b6;
    border-color: #d9d9d9;
}

input[type="radio"] {
    display: none;
}

.forma-grupa button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    background: linear-gradient(135deg, #585858, #c9c9c9);
    cursor: pointer;
    transition: background 0.3s ease;
}

.forma-grupa button:hover {
    background: linear-gradient(-135deg, #585858, #c9c9c9);
}


/* ========================================END - RECENZIJE================================================= */
/* ========================================END - RECENZIJE================================================= */
/* ========================================START - KATALOG================================================= */
/* ========================================START - KATALOG================================================= */

.obrazac2-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #ffffff, #f4f4f4, #ebebeb);
    border: 1px solid #828282;
    border-radius: 22px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 50%;
    margin: 50px auto;
}

.forma2-naslov h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.forma2-sadrzaj p#forma-pg1 {
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 35px;
    font-size: 16px;
    color: #333;
}

.forma2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kor2-detalji {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.forma2-grupa {
    flex-basis: calc(50% - 20px);
    width: 100%;
    margin-bottom: 20px;
}

.forma2-grupa label.det2,
.forma2-grupa label input[type="checkbox"],
.forma2-grupa label input[type="radio"] {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}




.forma2-grupa input,
.forma2-grupa select,
.forma2-grupa textarea {
    height: 45px;
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border 0.3s ease;
}

.forma2-grupa textarea {
    height: auto;
    resize: vertical;
}

.forma2-grupa input:focus,
.forma2-grupa select:focus,
.forma2-grupa textarea:focus {
    border-color: #9b59b6;
    outline: none;
}

.forma2-grupa input[type="checkbox"],
.forma2-grupa input[type="radio"] {
    width: auto;
    margin-right: 8px;
    height: auto;
}

.forma2-grupa label input[type="checkbox"],
.forma2-grupa label input[type="radio"] {
    margin-right: 5px;
}

.forma2-grupa button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    background: linear-gradient(135deg, #585858, #c9c9c9);
    cursor: pointer;
    transition: background 0.3s ease;
}

.forma2-grupa button:hover {
    background: linear-gradient(-135deg, #585858, #c9c9c9);
}

/* ========================================END - KATALOG================================================= */
/* ========================================END - KATALOG================================================= */
/* ========================================START - DETALJI================================================= */
/* ========================================START - DETALJI================================================= */

.det-glavni-sadrzaj {
    display: flex;
    flex-direction: column;
    background-color: #eaf4f4;
    border: 1px solid #ccc;
    border-radius: 22px;
    width: 95%;
    margin: 50px auto 0 auto;
    padding: 40px;
    overflow-x: hidden;
}

#detalji-h1 {

    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color: black;
    white-space: nowrap;
}

.alat-sekcija {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto 20px auto;
}

.detalji-h2 {
    font-size: 25px;
    font-weight: bold;
    color: rgb(59, 147, 255);
    margin-bottom: 10px;
    font-style: italic;
}

.unutarnji-okvir {
    position: relative;
    width: 100%;
    max-width: 853px;
    aspect-ratio: 16 / 9;
    margin: 0 auto 30px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.iframe-detalji {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.detalji-p {

    display: block;
    text-align: justify;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 22px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 0 auto;

}